# Arquivos do Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
.angular/

# Testes
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
.env.local
