<div class="container">
  <h1>Lista de pacientes</h1>

  <div *ngIf="isLoading" style="text-align: center; padding: 50px;">
    <mat-spinner></mat-spinner>
    <p>Carregando dados...</p>
  </div>

  <div *ngIf="!isLoading">
    <ul>
      <li *ngFor="let item of paginatedItems">
        {{ item.id }} - {{ item.name }}
      </li>
    </ul>

    <p *ngIf="paginatedItems.length === 0">
      Nenhum paciente encontrado.
    </p>

    <mat-paginator 
        [length]="totalItems"
        [pageSize]="itemsPerPage"
        [pageIndex]="currentPage"
        [pageSizeOptions]="pageSizeOptions"
        (page)="handlePageEvent($event)"
        aria-label="Selecionar página">
    </mat-paginator>
  </div>
</div>