<div>
  <button (click)="listType = 'patients'" [class.active]="listType === 'patients'">
    Listar pacientes
  </button>
  <button (click)="listType = 'exams'" [class.active]="listType === 'exams'">
    Listar exames
  </button>
</div>

<hr>

<div *ngIf="listType === 'patients'">
  <h2>Lista de pacientes</h2>

    <app-list-component 
      [items]="paginatedItems" 
      [listType]="listType" 
      [isLoading]="isLoading"
      [currentPage]="currentPage"
      [totalItems]="totalItems"
      [itemsPerPage]="itemsPerPage"
      (pageChange)="handlePageEvent($event)"
    >
    <ng-template let-patient>
      <div class="patient-card">
        <p><strong>{{ patient.name }}</strong> - {{ patient.age }}</p>
      </div>
    </ng-template>
  </app-list-component>
</div>

<div *ngIf="listType === 'exams'">
  <h2>Lista de exames</h2>

  <app-list-component 
    [items]="paginatedItems" 
    [listType]="listType" 
    [isLoading]="isLoading"
    [currentPage]="currentPage"
    [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    (pageChange)="handlePageEvent($event)"
  >
    <ng-template let-exam>
      <div class="exam-card">
        <strong>{{ exam.title }}</strong>
        <p>{{ exam.date }}</p>
      </div>
    </ng-template>
  </app-list-component>
</div>