.form-field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}

input {
  padding: 0.75rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* Estilo que aplica quando 'showError' é true */
input.input-error {
  border-color: #e74c3c; /* Vermelho */
  background-color: #fbeeee;
}

input:focus, input.input-error:focus {
  outline: none;
  border-color: #3498db; /* Azul no foco */
  box-shadow: 0 0 3px #3498db;
}

.error-messages {
  margin-top: 0.25rem;
}

.error-messages small {
  color: #e74c3c; /* Vermelho */
  font-size: 0.85rem;
}